<footer class="site-footer">

  <div class="wrapper">

        <div class="footer-icons">

          {% if site.email %}
            <span class="footer-icon">
            {% include icon-email.html email=site.email %}
            </span>
          {% endif %}

          {% if site.linkedin_username %}
          <span class="footer-icon">
          {% include icon-linkedin.html username=site.linkedin_username %}
          </span>
          {% endif %}


          {% if site.github_username %}
          <span class="footer-icon">            
          {% include icon-github.html username=site.github_username %}
          </span>
          {% endif %}

          {% if site.twitter_username %}
            <span class="footer-icon">
            {% include icon-twitter.html username=site.twitter_username %}
            </span>
          {% endif %}

          {% if site.facebook_username %}
            <span class="footer-icon">
            {% include icon-facebook.html username=site.facebook_username %}
            </span>
          {% endif %}

          {% if site.youtube_username %}
            <span class="footer-icon">
            {% include icon-youtube.html username=site.youtube_username %}
            </span>
          {% endif %}

          {% if site.instagram_username %}
          <span class="footer-icon">
          {% include icon-instagram.html username=site.instagram_username %}
          </span>
          {% endif %}

        </div>
  </div>

</footer>
